<!-- views/cadastro.html -->
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Devbook - Cadastro</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/cadastro.css">
    </head>

    <body>
        <div class="container-cadastro">
            <div>
                <form class="devbook-form" id="cadastro">
                    <span>Crie sua conta!</span>
                    <div>
                        <input type="text" name="nome" id="nome" placeholder="Nome" required="required">
                    </div>
                    <div>
                        <input type="text" name="email" id="email" placeholder="E-mail" required="required">
                    </div>
                    <div>
                        <input type="text" name="nick" id="nick" placeholder="Nickname" required="required">
                    </div>
                    <div>
                        <input type="password" name="senha" id="senha" placeholder="Senha" required="required">
                    </div>
                    <div>
                        <input type="password" name="confirma-senha" id="confirma-senha" placeholder="Confirme sua Senha" required="required">
                    </div>
                    <a href="/login">Ja possui uma conta?</a>
                    <button type="submit" class="btn-cadastro">Cadastrar</button>
                </form>
            </div>
        </div>
    </body>
</html>
