<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Devbook - Login</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    </head>

    <body>
        <div class="container-login">
            <div>
                <form class="devbook-form" id="login">
                    <span>Seja bem vindo(a) ao Devbook!</span>
                    <div>
                        <input type="text" name="email" id="email" placeholder="Digite seu e-mail" required="required">
                    </div>
                    <div>
                        <input type="text" name="senha" id="senha" placeholder="Digite seu senha" required="required">
                    </div>
                    <a href="/criar-usuario">Crie sua conta!</a>
                    <button type="submit" class="btn-login">Login</button>
                </form>
            </div>
        </div>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/login.js"></script>
    </body>
</html>
